<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<%page args="course_enrollments, template_settings" />

<%namespace file='../../../theme-variables.html' import="get_dashboard_settings" />


<section class="a--dashboard-notifications">
  <ul class="bs-container a--container a--dashboard-notifications__container">
    <li class="a--dashboard-notifications__notification">
      This is a test message. This list item will be removed. YEEEHAW.
    </li>
    % if message:
      <li class="a--dashboard-notifications__notification">

      </li>
    % endif
    % if enrollment_message:
      <li class="a--dashboard-notifications__notification">

      </li>
    % endif
  </ul>
</section>

% if get_dashboard_settings()['dashboard_search_enabled']:
  <section class="a--dashboard-01__discovery bs-container a--container">
    <%include file = "../../${get_dashboard_settings()['discovery-search-template']}" args='search_wrapper_id = "dashboard-search-bar"' />
  </section>
% endif

<section class="a--dashboard__main">
  <div class="bs-container a--container a--dashboard__main__container">
    <div class="col-xs-12 col-sm-8 col-md-9 a--dashboard__main__courses-container" id="my-courses">
      % if len(course_enrollments) > 0:
        <ul class="a--dashboard__main__courses">
          % for dashboard_index, enrollment in enumerate(course_enrollments):
            <% show_courseware_link = (enrollment.course_id in show_courseware_links_for) %>
            <% cert_status = cert_statuses.get(enrollment.course_id) %>
            <% can_unenroll = (not cert_status) or cert_status.get('can_unenroll') %>
            <% credit_status = credit_statuses.get(enrollment.course_id) %>
            <% show_email_settings = (enrollment.course_id in show_email_settings_for) %>
            <% course_mode_info = all_course_modes.get(enrollment.course_id) %>
            <% show_refund_option = (enrollment.course_id in show_refund_option_for) %>
            <% is_paid_course = (enrollment.course_id in enrolled_courses_either_paid) %>
            <% is_course_blocked = (enrollment.course_id in block_courses) %>
            <% course_verification_status = verification_status_by_course.get(enrollment.course_id, {}) %>
            <% course_requirements = courses_requirements_not_met.get(enrollment.course_id) %>
            <% course_program_info = course_programs.get(unicode(enrollment.course_id)) %>
            <%include file = "../../${get_dashboard_settings()['dashboard_course_listing']}" args="course_overview=enrollment.course_overview, enrollment=enrollment, show_courseware_link=show_courseware_link, cert_status=cert_status, can_unenroll=can_unenroll, credit_status=credit_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option=show_refund_option, is_paid_course=is_paid_course, is_course_blocked=is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=dashboard_index, user=user, course_program_info=course_program_info" />
          % endfor
        </ul>
      % else:
        <div class="a--dashboard__main__no-enrollments__container">
          <p>${_("Looks like you haven't enrolled in any courses yet.")}</p>
          % if get_dashboard_settings()['promote_course_catalog']:
            <a class="a--dashboard__main__no-enrollments__cta" href="${marketing_link('COURSES')}">${_("Find courses now!")}</a>
          % endif
        </div>
      % endif
    </div>
    % if get_dashboard_settings()['dashboard_search_enabled']:
      <div class="col-xs-12 col-sm-8 col-md-9 a--dashboard__main__search-results" id="dashboard-search-results">

      </div>
    % endif
  </div>

  <aside class="col-xs-12 col-sm-4 col-md-3">
    % if get_dashboard_settings()['promote_course_catalog']:
      <a class="a--dashboard__main__no-enrollments__cta" href="${marketing_link('COURSES')}">${_("Find courses now!")}</a>
    % endif
  </aside>
</section>

<section id="email-settings-modal" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="email-settings-title">
        ${_("Email Settings for {course_number}").format(course_number='<span id="email_settings_course_number"></span>')}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>

    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden" />
      <label>${_("Receive course emails")} <input type="checkbox" id="receive_emails" name="receive_emails" /></label>
      <div class="submit">
        <input type="submit" id="submit" value="${_("Save Settings")}" />
      </div>
    </form>
  </div>
</section>

<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id='track-info'></span>
        <span id='refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_("Unenroll")}" />
      </div>
    </form>
  </div>
</section>
