.signup-form, .login-form {
	padding: 40px 20px;
	background-color: #fff;

	&__instructions {
		font-size: 18px;
		margin: 0 0 20px;
		line-height: 140%;
	}

	&__help {

		@media (min-width:$screen-sm-min) {
			padding-left: 40px;
		}

		&__heading {
			margin: 0 0 10px;
			@include sans-serif-bold;
			font-size: 18px;
		}

		&__group {
			margin-bottom: 20px;
		}

		& p a, & p a:visited, & p a:link {
			@include sans-serif-bold;
			color: $brand-primary-color;
			text-decoration: none;

			&:hover, &:focus {
				opacity: 0.8;
				text-decoration: none;
			}
		}

		&__login-button, &__login-button:link, &__login-button:visited {
			@include button-positive($brand-primary-color);
			padding: 8px 30px;
			margin-bottom: 20px;
		}
	}
}