.home__hero {
	@include section-gradient-reverse($brand-blue);
	color: #fff;
	text-align: center;
	overflow: hidden;
	padding: 0 30px;

	& h1 {
		margin-top: 100px;
	}

	& p {
		@include lato;
		font-size: 24px;
		max-width: 720px;
		margin: 0 auto;
	}

	&__cta {
		border-color: #fff;
		color: #fff;
		margin-top: 30px;
	}

	&__image {
		margin-top: -12px;
		position: relative;
		z-index: 2;
	}
}


.home__adaptible {
	padding: 120px 30px;

	& p {
		text-align: justify;
		font-size: 16px;
	}

	&__image {
		width: 80%;
		margin: 0 10%;
		height: auto;
	}
}


.home__revolutionary {
	@include section-gradient($brand-red);
	color: #fff;
	text-align: center;
	padding: 0 30px;

	&__image {
		max-width: 860px;
		width: 100%;
		margin: 0 auto 60px;
	}	

	& p {
		font-size: 16px;
		max-width: 860px;
		margin: 0 auto 80px;
		font-size: 16px;
	}
}


.home__features {
	padding: 0 30px;
}

.feature {
	padding: 60px 0;
	border-bottom: 1px solid tint($base-text-color, 75%);

	&:last-of-type {
		border: none;
	}

	&__modules {

		& p {
			text-align: justify;
			font-size: 16px;
		}
	}

	&__assembly {
		text-align: center;

		&__gif {
			display: block;
			position: relative;
			margin: 0 auto;
			width: 100%;
			max-width: 640px;
			clear: both;

			&__overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				background-image: url("../images/index/assembly-bg.jpg");
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				@include display(flex);
				@include align-items(center);
				@include flex-wrap(wrap);
				@include transition(all 0.3s ease-in-out);
				cursor: pointer;

				&:hover {
					opacity: 0;
				}

				&__content {
					width: 100%;
				}
			}

			&__image {
				width: 100%;
				height: auto;
			}
		}

		& p {
			max-width: 800px;
			margin: 30px auto 0;
			font-size: 16px;
		}
	}

	&__looks {
		text-align: center;

		&__images {
			margin: 0 auto 0px;
			width: 100%;
			max-width: 860px;

			&__single {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
			}
		}

		& h2 {
			width: 100%;
		}

		& p {
			max-width: 860px;
			margin: 0 auto;
			font-size: 16px;
		}
	}
}


.home__kickstarter {
	@include section-gradient($brand-light-grey);
	width: 100%;
	text-align: center;
	padding: 120px 30px;

	&__logo {
		max-width: 340px;
		width: 100%;
		margin: 0 auto 30px;
		display: block;
	}

	& p {
		font-size: 24px;
		@include lato;

		& span {
			@include lato-bold;
		}
	}

	&__cta {
		color: #0D2004;
		border-color: #14E06E;
		margin-top: 30px;
		@include lato-black;
	}
}


.home__ecology {
	padding: 100px 30px 0;
	@include section-gradient($brand-green);
	color: #fff;
	text-align: center;

	& p {
		font-size: 16px;
		max-width: 840px;
		width: 100%;
		margin: 0 auto 30px;
	}
}


.home__mentions {
	background-color: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 50px;
	text-align: center;

	& h3 {
		@include lato;
		font-size: 24px;
		opacity: 0.6;
		margin: 0;
	}

	&__stripe {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@include align-items(center);
		margin-top: 30px;
	}

	&__logo {

		& img {
			max-width: 120px;
			max-height: 40px;
			width: auto;
			height: auto;
			@include filter(grayscale(100%));
			opacity: 0.7;
			@include transition(all 0.3s ease-in-out);
		}

		&:hover, &:focus {

			& img {
				@include filter(none);
				opacity: 1;
			}
		}
	}
}


.home__blog {
	padding: 80px 30px;

	& h2 {
		text-align: center;
		padding-bottom: 35px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 25px;
	}

	&__post {

		& h3 {
			@include lato;
			font-size: 22px;

			& a {
				color: inherit;
				text-decoration: none;
				@include transition(all 0.3s ease-in-out);

				&:hover, &:focus {
					opacity: 0.8;
					text-decoration: none;
				}
			}
		}

		& h4 {
			@include lato;
			font-size: 14px;
		}

		&__read-more {
			@include lato-bold;
			color: shade($brand-green, 25%);
			text-decoration: underline;
			@include transition(all 0.3s ease-in-out);
			cursor: pointer;

			&:hover, &:focus {
				color: $brand-green;
			}
		}
	}
}


@media (max-width: $screen-xs-max) {

	.home__hero {
		overflow: hidden;

		& h1 {
			font-size: 42px;
			margin-top: 45px;
		}

		& p {
			font-size: 18px;
		}

		&__cta {
			font-size: 16px;
		}

		&__image {
			position: relative;
			left: -100px;
			margin-top: -20px;
		}
	}

	.home__adaptible {
		text-align: center;

		&__image {
			width: 100%;
			margin: 30px 0 0;
		}
	}

	.home__revolutionary {
		overflow: hidden;

		& p {
			text-align: justify;
		}

		&__image {
			width: 180%;
			margin-left: -40%;
		}
	}

	.home__features {
		overflow: hidden;

		& h2 {
			text-align: center;
		}

		& p {
			text-align: justify;
		}
	}

	.feature__assembly__gif__overlay__content {

		& h2 {
			width: 80%;
			text-align: center;
			margin-left: 10%;
			margin-right: 10%;
		}
	}

	.home__kickstarter {

		& p {
			font-size: 22px;
		}
	}

	.home__ecology {
		overflow: hidden;

		&__image {
			width: 300%;
			margin-left: -100%;
		}
	}
}