//  Basic branding variables
//
//  ================

$navbar-style: "white";  // set to "white" for white bg navbar scheme, or "brand" for brand color bg and white elements
$brand-primary-color: #0090C1;
$base-text-color: #414151;
$hero-bg-image: url("../images/hero-image.jpg");

// #5F1863