.footer {
	background-color: shade($brand-primary-color, 0%);
	border-top: 2px solid shade($brand-primary-color, 10%);
	padding: 40px 30px 60px;
	@include sans-serif;
	font-weight: $footer-menu-font-weight;
	color: $footer-text-color;
	font-size: $footer-menu-text-size;
	width: 100%;

	& a, a:link, a:visited {
		color: $footer-menu-text-color;

		&:hover, &:focus {
			color: rgba($footer-menu-text-color, 0.7);
			text-decoration: none;
		}
	}

	&__container {
		@include display(flex);
		@include align-items(center);

		@media(max-width:$screen-md-min) {
			@include flex-wrap(wrap);
		}

		&:before {
			display: none !important;
		}

		&:after {
			display: none !important;
		}

	}

	&__section {
		@include display(flex);
		@include align-items(center);
	}

	&__content {
		@include flex-shrink(1);
		width: 100%;
	}

	&__links {
		padding: 0;
		margin: 0;

		& li {
			display: inline-block;
			list-style-type: none;
			padding: 0 15px;
			border-right: 1px solid rgba($footer-menu-text-color, 0.3);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
				border-right: none;
			}

			@media(max-width:$screen-md-min) {
				display: block;
				text-align: center;
				padding: 5px 0;
				border: none;
			}
		}
	}

	&__legal {
		margin-bottom: 10px;

		@media(max-width:$screen-md-min) {
			display: block;
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid rgba($footer-text-color, 0.3);
		}
	}

	&__logo {
		@include transition(all 0.3s ease-in-out);
		padding: 15px 30px 15px 0;
		margin-right: 20px;
		border-right: 1px solid rgba($footer-text-color, 0.3);
		@include flex-shrink(1);

		&:hover, &:focus {
			padding-right: 40px;
		}

		& img {
			height: $footer-logo-height;
			width: auto;
		}

		@media(max-width:$screen-md-min) {
			border: none;
			padding: 0;
			margin: 0 auto 30px;

			& img {
				height: 2*$footer-logo-height;
			}
		}
	}

	&__poweredby {
		@include flex-shrink(1);
		@include display(flex);
		@include align-items(center);
		@include transition(all 0.3s ease-in-out);
		opacity: 0.25;
		font-size: 12px;
		padding: 20px 0 20px 20px;
		margin-left: 20px;
		border-left: 1px solid #ccc;

		&:hover, &:focus {
			opacity: 1;

			& span {
				margin-right: 10px;
			}
		}

		@media(max-width:$screen-md-min) {
			display: block;
			border: none;
			padding-top: 30px;
			border-top: 1px solid rgba($footer-text-color, 0.3);
			margin: 30px auto 0;
		}

		& span {
			color: $footer-menu-text-color;
			@include transition(all 0.3s ease-in-out);
			display: inline-block;
			line-height: 100%;
		}

		&__logo {
			display: inline-block;
			margin-left: 20px;
			@include transition(all 0.3s ease-in-out);
			padding: 0 0;
			opacity: 0.6;

			&:hover, &:focus {
				opacity: 1;
			}
		}

		& img {
			height: 24px;
			width: auto;
		}
	}

	&__edx-legal {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid rgba($footer-text-color, 0.1);
		font-size: 12px;
		text-align: center;
		color: rgba($footer-text-color, 0.4);
	}
}