// Import Bootstrap Defaults
@import "bootstrap";

// Import Bourbon.io
@import "bourbon";

// Import typography
@import "base/typography";

// Import bg functions
@import "base/functions";

// Import variables
@import "base/basic-branding";
@import "base/variables";

// Import basic styles
@import "base/base";
@import "base/buttons";
@import "base/forms";
@import "base/animate-lib";

// Import mixins
@import "base/mixins";

// Import site base layout
@import "layout/footer";
@import "layout/header";
@import "layout/standard-headers";
@import "layout/modals";

// import page specific sass
@import "lms/landing";
@import "lms/course-tile";
@import "lms/course-list";
@import "lms/instructors-marketing";
@import "lms/signup-login";
@import "lms/course";
@import "lms/dashboard";

//
@import "lms/login-register";
@import "lms/view-profile";
@import "lms/account-settings";