//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


.container-bs {
	margin-right: auto;
  margin-left: auto;
  padding-left:  (30px / 2);
  padding-right: (30px / 2);

	  @media (min-width: $screen-sm-min) {
	    width: 750px;
	  }
	  @media (min-width: $screen-md-min) {
	    width: 970px;
	  }
	  @media (min-width: $screen-lg-min) {
	    width: 1170px;
	  }
}


.footer {
	background-color: #fff;
	border-top: 2px solid #ddd;
	padding: 40px 30px 60px;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	width: 100%;

	& a, a:link, a:visited {
		color: #333;

		&:hover, &:focus {
			color: rgba(#333, 0.7);
			text-decoration: none;
		}
	}

	&__container {
		@include display(flex);
		@include align-items(center);

		@media(max-width:$screen-md-min) {
			@include flex-wrap(wrap);
		}

		&:before {
			display: none !important;
		}

		&:after {
			display: none !important;
		}

	}

	&__section {
		@include display(flex);
		@include align-items(center);
	}

	&__content {
		@include flex-shrink(1);
		width: 100%;
	}

	&__links {
		padding: 0;
		margin: 0;

		& li {
			display: inline-block;
			list-style-type: none;
			padding: 0 15px;
			border-right: 1px solid rgba(#333, 0.3);

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
				border-right: none;
			}

			@media(max-width:$screen-md-min) {
				display: block;
				text-align: center;
				padding: 5px 0;
				border: none;
			}

			a {
				font-size: 14px;
			}
		}
	}

	&__legal {
		margin-bottom: 15px;
		color: rgba(#333, 0.5);
		font-size: 12px;

		@media(max-width:$screen-md-min) {
			display: block;
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid rgba(#333, 0.3);
		}
	}

	&__logo {
		@include transition(all 0.3s ease-in-out);
		padding: 15px 30px 15px 0;
		margin-right: 20px;
		border-right: 1px solid rgba(#333, 0.3);
		@include flex-shrink(1);

		&:hover, &:focus {
			padding-right: 40px;
		}

		& img {
			height: 40px;
			width: auto;
		}

		@media(max-width:$screen-md-min) {
			border: none;
			padding: 0;
			margin: 0 auto 30px;

			& img {
				height: 80px;
			}
		}
	}

	&__poweredby {
		@include flex-shrink(1);
		@include display(flex);
		@include align-items(center);
		@include transition(all 0.3s ease-in-out);
		opacity: 0.25;
		font-size: 12px;
		padding: 20px 0 20px 20px;
		margin-left: 20px;
		border-left: 1px solid #ccc;

		&:hover, &:focus {
			opacity: 1;

			& span {
				margin-right: 10px;
			}
		}

		@media(max-width:$screen-md-min) {
			display: block;
			border: none;
			padding-top: 30px;
			border-top: 1px solid rgba(#333, 0.3);
			margin: 30px auto 0;
		}

		& span {
			color: #333;
			@include transition(all 0.3s ease-in-out);
			display: inline-block;
			line-height: 100%;
		}

		&__logo {
			display: inline-block;
			margin-left: 20px;
			@include transition(all 0.3s ease-in-out);
			padding: 0 0;
			opacity: 0.6;

			&:hover, &:focus {
				opacity: 1;
			}
		}

		& img {
			height: 24px;
			width: auto;
		}
	}

	&__edx-legal {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid rgba(#333, 0.1);
		font-size: 12px;
		text-align: center;
		color: rgba(#333, 0.4);
	}
}
