<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
%>

<div class="wrapper-footer wrapper">
  <footer class="primary" role="contentinfo">

    <div class="footer-content-primary">
      <div class="colophon">
        <p>&copy; ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year} <a data-rel="edx.org" href="${marketing_link('ROOT')}" rel="external">${settings.PLATFORM_NAME}</a>.</p>
      </div>

        <nav class="nav-peripheral" aria-label="${_("Policies")}">
          <ol>
            % if is_marketing_link_set('TOS'):
              <li class="nav-item nav-peripheral-tos">
                <a data-rel="edx.org" href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
              </li>
            % endif
            % if is_marketing_link_set('PRIVACY'):
              <li class="nav-item nav-peripheral-pp">
                <a data-rel="edx.org" href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
              </li>
            % endif
            % if waffle().is_enabled(ENABLE_ACCESSIBILITY_POLICY_PAGE):
              <li class="nav-item nav-peripheral-aar">
                <a data-rel="edx.org" href="${reverse('accessibility')}">${_("Accessibility Accommodation Request")}</a>
              </li>
            %endif
          </ol>
        </nav>
    </div>

    <div class="footer-content-secondary" aria-label="${_("Legal")}">
      <div class="footer-about-copyright">
        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p>
        </p>
      </div>

      <div class="footer-about-openedx">
        <a href="https://patientdb.com" title="${_("Powered by PatientDB LMS")}">
          <img alt="${_("Powered by PatientDB LMS")}" src="https://s3.amazonaws.com/patientdb-openedx/nhs-rf/static/images/patientdb_lms_powered.png">
        </a>
      </div>
    </div>
  </footer>
</div>

