<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<article id="${course.id.to_deprecated_string()}" class="course">
  %if course.is_newish:
    <span class="status">${_("New")}</span>
  %endif
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
  <div class="inner-wrapper">
      <header class="course-preview">
        <hgroup>
          <h2><span class="course-number">${course.display_number_with_default | h}</span> ${get_course_about_section(course, 'title')}</h2>
        </hgroup>
        <div class="info-link">&#x2794;</div>
      </header>
      <section class="info">
        <div class="cover-image">
          <img src="${course_image_url(course)}" alt="${course.display_number_with_default | h} ${get_course_about_section(course, 'title')} Cover Image" />
        </div>
        <div class="desc">
          <p>${get_course_about_section(course, 'short_description')}</p>
        </div>
        <div class="bottom">
          <span class="university">${get_course_about_section(course, 'university')}</span>
          % if not course.start_date_is_still_default:
          <span class="start-date">${course.start_date_text}</span>
          % endif
        </div>
      </section>
    </div>
    <div class="meta-info">
      <p class="university">${get_course_about_section(course, 'university')}</p>
    </div>
  </a>
</article>


<section class="course-header">
  <div class="container-bs">
    <div class="row course-header__container">
      <div class="col-xs-12 col-sm-4 course-header__image">
        <img src="images/course-images/china.jpg" alt="Course Name">
        <div class="course-ribbon"><span>NEW</span></div>
      </div>
      <div class="col-xs-12 col-sm-8 course-header__info">
        <h1 class="course-header__title">Will China Rise as a Disruptive Force? The Insiders’ Perspective</h1>
        <p class="course-header__short-info">An insiders’ perspective on the economic, social and political impact of China’s rise on the world stage.</p>
      </div>
    </div>
  </div>
</section>

<section class="course-body container-bs">
  <div class="col-xs-12 col-sm-4 col-sm-push-8 course-meta">
    <p class="course-meta__start-date">Starts June 22nd, 2015</p>
    <p class="course-meta__end-date">Ends July 14th, 2015</p>
    <div class="course-meta__enroll-button__container">
      <a class="course-meta__enroll-button">Enroll</a>
    </div>
    <p class="course-meta__number"><span>Course number:</span> A1232</p>
    <div class="course-meta__share__container">
      <a href="#" class="course-meta__share twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="course-meta__share facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="course-meta__share email"><i class="fa fa-envelope"></i></a>
      <span class="share-helper-text">Share this course!</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-pull-4 course-information">
    <div class="course-information__group">
      <h2 class="course-information__title">About this course</h2>
      <p>China, one of the world’s oldest countries, is currently undergoing massive political, social and economic changes. The rapid emergence of China as a key player in the global political and economic landscape has led many to question how China’s decision makers perceive today’s world. What are their views on major global affairs? How does Chinese history and philosophy shape their outlook of the world? What are the prospects for China’s future economic growth?</p>
      <p>This course helps learners understand the rise of modern China from an insiders’ perspective with insight from three of China’s leading social philosophy, international relations and economic experts</p>
    </div>
    <div class="course-information__group">
      <h2 class="course-information__title">Course prerequisites</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="course-information__group">
      <h2 class="course-information__title">What you'll learn</h2>
      <ul>
        <li>Part 1: China’s worldview, what makes China unique, challenges China is facing and how the country may overcome these issues.</li>
        <li>Part 2: History of China’s development over the past 100 years, political issues that China is facing, and self-corrective mechanisms in China’s political system.</li>
        <li>Part 3: History of China’s foreign policy, how China’s diplomacy has evolved and factors that determine China’s current foreign policy strategy.</li>
      </ul>
    </div>
    <div class="course-information__group">
      <h2 class="course-information__title">Course staff</h2>
      <div class="course-information__instructors">
        <div class="course-information__instructor">
          <div class="course-information__instructor__image" style="background-image: url('images/instructor-images/misty.jpg');">
          </div>
          <div class="course-information__instructor__info">
            <h4 class="course-information__instructor__name">Misty Mendoza</h4>
            <span class="course-information__instructor__title">CEO of Something ltd</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="course-information__instructor">
          <div class="course-information__instructor__image" style="background-image: url('images/instructor-images/herbert.jpg');">
          </div>
          <div class="course-information__instructor__info">
            <h4 class="course-information__instructor__name">Herbert Hansen</h4>
            <span class="course-information__instructor__title">Master of Universe</span>
            <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>