## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" type="text/css" href="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/css/main.css')}">
<link rel="stylesheet" type="text/css" href="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/css/font-awesome/css/font-awesome.min.css')}">
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic,700italic,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-itunes-app" content="app-id=1044418100">
