## mako

<%namespace name='static' file='/static_content.html'/>
<%! from microsite_configuration import microsite %>
<% style_overrides_file = microsite.get_value('css_overrides_file') %>
% if style_overrides_file:
  <link rel="stylesheet" type="text/css" href="${static.url(style_overrides_file)}" />
% else:
  <link rel="stylesheet" type="text/css" href="${static.url('themes/' + settings.THEME_NAME + '/css/main.css')}">
% endif
<link rel="stylesheet" type="text/css" href="${static.url('themes/' + settings.THEME_NAME + '/css/font-awesome/css/font-awesome.min.css')}">
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Habibi&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-itunes-app" content="app-id=1044418100">
