<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from microsite_configuration import microsite
  from courseware.courses import course_image_url, get_course_about_section
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  #show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  #homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "jkIOi5bCMSo")
  show_homepage_promo_video = True
  homepage_promo_video_youtube_id = "jkIOi5bCMSo"

  show_partners = microsite.get_value('show_partners', True)
%>


% if show_homepage_promo_video:

<!-- Video modal -->
<div class="modal fade modal__video-fullscreen__wrapper" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal__video-fullscreen">
    <div class="modal__video-fullscreen__container">
      <iframe src='https://www.youtube.com/embed/${homepage_promo_video_youtube_id}?rel=0&controls=0&showinfo=0' frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal__video-fullscreen__close">
      <a href="#" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></a>
    </div>
  </div>
</div>

% endif


<!-- LMS landing page hero portion -->
  <section class="landing-hero">
    <div class="container-bs">
      <div class="landing-hero__content">
        <div class="landing-hero__content__text">
          <h1>Appsembler Academy</h1>
          <p>Bringing you mobile optimized courses about Open edX</p>
        </div>

        % if show_homepage_promo_video:

          <a href="#" data-toggle="modal" data-target="#videoModal" class="landing-hero__content__button">View a sample video</a>

        % endif  
      </div>
    </div>
  </section>

  <section class="landing-additional-text">
    <div class="container-bs">
      <div class="landing-additional-text__content">
        <h2>The Open edX Enterprise Experts</h2>
          <div class="landing-additional-text__separator"></div>
          <p>Appsembler is a leader in delivering educational technology solutions. We are a full-service Open edX solutions provider offering hosting, support, expert assistance and custom development services. edX is a nonprofit online initiative created by founding partners Harvard and MIT and composed of dozens of leading global institutions, the xConsortium. EdX offers interactive online courses and MOOCs from the world’s best universities and institutions.</p>
          <p>Open edX is the open source platform that powers edX courses, and the Open edX code is freely available to the community.</p>
      </div>
    </div>
  </section>

<!-- Search section is currently hidden until fully implemented -->
<%doc>
  <section class="landing-search">
    <div class="container-bs landing-search">
      <div class="hidden-xs col-sm-2 col-md-3 landing-search__filler">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-6 landing-search__field">
        <i class="fa fa-search"></i>
        <input type="text" name="landing-search" placeholder="Search our courses">
      </div>
      <div class="hidden-xs col-sm-2 col-md-3 landing-search__filler">
      </div>
    </div>
  </section>
</%doc>

% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
  <section class="landing-courses">
    <div class="container-bs">
      <h2>Featured / newest courses</h2>
    </div>

<%doc>
    <div class="course-list-view container-bs">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
          <div class="course-list-item">
            <div class="course-list-item__image" style="background-image: url('${course_image_url(course)}');"></div>
            <div class="course-list-item__info">
              % if not course.start_date_is_still_default:
                <span class="course-list-item__date">${course.start_datetime_text()}</span>
              % endif
              <span class="course-list-item__name"><a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">${get_course_about_section(course, 'title')}</a></span>
              <span class="course-list-item__instructor">${get_course_about_section(course, 'university')}</span>
              <div class="course-list-item__separator"></div>
              <p class="course-list-item__description">${get_course_about_section(course, 'short_description')}</p>
              <a class="course-list-item__cta" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">Learn more...</a>
            </div>
          </div>
        %endfor
      </div>
    </div>
</%doc>
    
    <div class="landing-courses__container">
      <div class="container-bs">
        <div class="row">
          <div class="landing-courses__logo"><img src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/icon-black.svg')}"></div>
        </div>
        <div class="row">
          %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
            <div class="col-xs-12 col-sm-6 col-md-4 course-tile">
              <div class="course-tile__body">
                <div class="course-tile__image" style="background-image: url('${course_image_url(course)}'); background-size: cover; background-position: center center;"></div>
                <div class="course-tile__info">
                  <span class="course-tile__date">${course.start_datetime_text()}</span>
                  <span class="course-tile__name"><a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">${get_course_about_section(course, 'title')}</a></span>
                  <span class="course-tile__instructor">${get_course_about_section(course, 'university')}</span>
                  <div class="course-tile__separator"></div>
                  <p class="course-tile__description">${get_course_about_section(course, 'short_description')}</p>
                  <a class="course-tile__cta" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">Learn more...</a>
                </div>
              </div>
            </div>
          %endfor
        </div>
      </div>
    </div>
  </section>      
% endif

  <section class="landing-additional-text">
    <div class="container-bs">
      <div class="landing-additional-text__content">
        <h2>Learn about Open edX at your own pace</h2>
        <div class="landing-additional-text__separator"></div>
        <p>We noticed that many of our customers wanted instruction in best practices in Open edX, so we created this site to provide self-paced courses for anyone to hone their Open edX skills. We hope that you enjoy learning more about all that Open edX has to offer!</p>
        <p>If you'd like to learn more about Appsembler, click the following button.</p>
        <!--HubSpot Call-to-Action Code -->
        <span class="hs-cta-wrapper" id="hs-cta-wrapper-4b323cda-b971-47b5-ba64-a1d4bae9634c">
            <span class="hs-cta-node hs-cta-4b323cda-b971-47b5-ba64-a1d4bae9634c" id="hs-cta-4b323cda-b971-47b5-ba64-a1d4bae9634c">
                <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                <a href="http://cta-redirect.hubspot.com/cta/redirect/1550892/4b323cda-b971-47b5-ba64-a1d4bae9634c" ><img class="hs-cta-img" id="hs-cta-img-4b323cda-b971-47b5-ba64-a1d4bae9634c" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/1550892/4b323cda-b971-47b5-ba64-a1d4bae9634c.png"  alt="Learn more"/></a>
            </span>
            <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
            <script type="text/javascript">
                hbspt.cta.load(1550892, '4b323cda-b971-47b5-ba64-a1d4bae9634c');
            </script>
        </span>
        <!-- end HubSpot Call-to-Action Code -->
      </div>
    </div>
  </section>

  <section class="instructors-marketing container-bs">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
        <div class="instructors-marketing__text">
          <h2 class="instructors-marketing__text__title">
            Learn from Open edX experts
          </h2>
          <p>We've been working with Open edX since 2013, and have helped our customers understand how Open edX works, and how to get the most out of it. Let us guide you on your Open edX journey!</p>
          <p>And if you have any suggestions for other courses you'd like to see, click on the question mark icon in the lower right-hand corner of the screen.</p>
        </div>
        <div class="instructors-marketing__list">
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/nate.jpg')}" alt="Nate Aune">
            <h4 class="instructors-marketing__list__single__name">Nate Aune</h4>
            <span class="instructors-marketing__list__single__title">Appsembler CEO</span>
          </div>
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/louis.jpg')}" alt="Louis Gudema">
            <h4 class="instructors-marketing__list__single__name">Herbert Hansen</h4>
            <span class="instructors-marketing__list__single__title">VP of Business Development</span>
          </div>
          <div class="instructors-marketing__list__single">
            <img class="instructors-marketing__list__single__image" src="${static.url('themes/' + settings.FEATURES.get('THEME_FOLDER') + '/images/instructor-images/cody.jpg')}" alt="Cody Carson">
            <h4 class="instructors-marketing__list__single__name">Cody Carson</h4>
            <span class="instructors-marketing__list__single__title">Appsembled edX evangelist</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 instructors-marketing__cta">
        <div class="instructors-marketing__cta__content">
          <h3 class="instructors-marketing__cta__title">Join in on open education!</h3>
          <p>Use this opportunity to learn more about the open source online learning platform supported by worlds most prestigious universities!</p>
          <a class="instructors-marketing__cta__button" href="/register">Sign up!</a>
        </div>
      </div>
    </div>  
  </section>


<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
