## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>
<%namespace file='theme-variables.html' import="getFooterMenuItems" />



## Footer links, defined as --> 'Link text' : ['url', 'link-class']

<%
  theme_folder = settings.FEATURES.get('THEME_FOLDER')
  footer_logo = '/static/themes/' + theme_folder + '/images/branding/icon-black.svg'
  footer_copyright_text = "© 2016 Company Name. All rights reserved."
  display_edx_disclaimer = True
  edx_disclaimer = "edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc."
  display_poweredby = True
%>

<%include file = 'design-templates/footer/_footer-appsembler-01.html' args="theme_folder = theme_folder, footer_links = getFooterMenuItems(), footer_logo = footer_logo, footer_copyright_text = footer_copyright_text, display_edx_disclaimer = display_edx_disclaimer, edx_disclaimer = edx_disclaimer, display_poweredby = display_poweredby" />

<%include file = 'footer-extra.html' args="theme_folder = theme_folder" />
