## mako

<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" type="text/css" href="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/css/main.css">
<link rel="stylesheet" type="text/css" href="${static.url('themes/')}/${settings.FEATURES.get('THEME_FOLDER')}/css/font-awesome/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Open+Sans:400,300,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">