## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<footer class="footer">
  <div class="container-bs footer__container">
    <div class="footer__logo">
      <a href="#" class=""><img src="${static.url('themes/appsembler-cypress/images/icon-white.svg')}"></a>
    </div>
    <div class="footer__content">
      <div class="footer__legal">
        © 2015 Appsembler. All rights reserved.
      </div>
      <ul class="footer__links">
        <li><a href="#">Terms of service</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Honor code</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    <div class="footer__poweredby">
      <span>Powered by:</span>
      <a href="http://www.appsembler.com" class="footer__poweredby__logo" alt="Appsembler"><img src="${static.url('themes/appsembler-cypress/images/appsembler-icon-white.svg')}" alt="Appsembler"></a>
      <a href="http://open.edx.com" target="_blank" class="footer__poweredby__logo" alt="Open edX"><img src="${static.url('themes/appsembler-cypress/images/openedx-logo-negative.svg')}" style="height: 14px;" alt="Open edX"></a>
    </div>
  </div>
  <div class="container-bs footer__edx-legal">
    edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.
  </div>
</footer>





    <!-- Include jQuery mobile -->
    <script src="${static.url('themes/appsembler-cypress/js/jquery.mobile.custom.min.js')}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="${static.url('themes/appsembler-cypress/js/bootstrap.min.js')}"></script>
    <!-- Custom base JavaScript -->
    <script src="${static.url('themes/appsembler-cypress/js/base.js')}"></script>

    <script src="${static.url('themes/appsembler-cypress/js/user-image-generate.js')}"></script>

