<%! 
  from courseware.courses import get_course_about_section
%>
<%namespace name='static' file='static_content.html'/>

<div class="modal fade modal__video-fullscreen__wrapper" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="videoModal">
  <div class="modal__video-fullscreen">
    <div class="modal__video-fullscreen__container">
      < ${get_course_about_section(course, "video")}
    </div>
    <div class="modal__video-fullscreen__close">
      <a href="#" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></a>
    </div>
  </div>
</div>