<%page args="template_settings" />

<%
  hero_title = template_settings['hero_title']
  hero_subtitle = template_settings['hero_subtitle']
  cta_link = template_settings['cta_link']
  cta_link_text = template_settings['cta_link_text']
  popup_video_url = template_settings['popup_video_url']
  popup_video_text = template_settings['popup_video_text']
  popup_video_id = template_settings['popup_video_id']
  bg_image_url = template_settings['bg_image_url']
%>

<section class="a--hero-section-01"
  % if bg_image_url:
    style="background-image: url('${bg_image_url}');"
  % endif
>
  <div class="bs-container a--container a--hero-section-01__container">
      <h1>${hero_title}</h1>
      <h4>${hero_subtitle}</h4>
      <div class="a--hero-section-01__cta-container">
        % if popup_video_url:
          <a href="#" data-toggle="modal" data-target="#${popup_video_id}Modal" class="a--cta">${popup_video_text}</a>
        % endif
        % if cta_link:
          <a href="${cta_link}" class="a--cta">${cta_link_text}</a>
        % endif
      </div>
  </div>
</section>

% if popup_video_url:
  <div class="modal a--modal a--modal__video fade" id="${popup_video_id}Modal" tabindex="-1" role="dialog" aria-labelledby="${popup_video_id}Modal">
    <div class="a--modal__outer-container">
      <div class="a--modal__video__container bs-container a--container">
        <button type="button" class="a--modal__close-button" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></button>
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/${popup_video_url}?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
% endif
