

// Import Bourbon.io
@import "bourbon/bourbon";

// Import Bootstrap variables
@import "bootstrap/variables";
@import "bootstrap";

// Import various vendor specific scss
@import "vendors/animate";

// Import typography
@import "base/typography";

// Import bg functions
@import "base/functions";

// Import variables
@import "base/variables";

// Import mixins
@import "base/mixins";

// edX normalizer for elements
@import "base/edx-overrides";

// Import basic styles
@import "base/branding-basics";
@import "base/base";
@import "base/buttons";
@import "base/modals";
@import "base/expanding-section";

// Import site shared layout
@import "shared/header";
@import "shared/footer";

// Import static-blocks specific sass
@import "static-blocks/hero-section-01";
@import "static-blocks/header-plus-text-plus-cta";
@import "static-blocks/plain-content-01";
@import "static-blocks/expanding-sections-list-01";
@import "static-blocks/line-separator";

// Import live-blocks specific sass
@import "live-blocks/single-course/course-tile-01";
@import "live-blocks/single-course/course-tile-02";
@import "live-blocks/single-course/course-tile-03";
@import "live-blocks/course-listing/course-listing-01";
@import "live-blocks/discovery/search-01";
@import "live-blocks/discovery/facets-01";


// Import page specific templates sass
@import "pages/course-about-01";
@import "pages/course-catalogue-01";
