.course-tile {
	@include display(flex);
	margin-bottom: 30px;
	@include transition(all 0.3s ease-in-out);
	opacity: 1;

	&.opaque {
		opacity: 0.5;
	}

	&__body {
		border: 1px solid tint($base-text-color, 80%);
		background-color: #fff;
	}

	&__image {
		position: relative;
		overflow: hidden;
		height: 240px;

		& img {
			width: 100%;
			min-height: 100%;
			height: auto;
			@include transition(all 0.3s ease-in-out);
		}

		&:after {
			content: " ";
			width: 100%;
			height: 4px;
			background-color: #000;
			opacity: 0.1;
			position: absolute;
			bottom: 0;
			left: 0;
			@include transition(all 0.3s ease-in-out);
		}
	}

	&__info {
		padding: 20px 20px;
	}

	&__date {
		@include sans-serif-bold;
		color: tint($base-text-color, 40%);
		font-size: 14px;
		display: block;
		margin-bottom: 2px;
	}

	&__name {
		@include sans-serif-bold;
		color: $base-text-color;
		font-size: 18px;
		line-height: 130%;
		display: block;
		min-height: 46px;

		& a {
			color: $base-text-color;
			text-decoration: none;

			&:hover, &:focus {
				color: tint($base-text-color, 20%);
			}
		}
	}

	&__instructor {
		@include sans-serif;
		color: tint($base-text-color, 30%);
		font-size: 12px;
		display: block;
	}

	&__separator {
		width: 100px;
		height: 4px;
		margin: 15px 0;
		background-color: $brand-primary-color;
	}

	& p {

	}

	&__cta, &__cta:link, &__cta:visited {
		@include sans-serif-semibold;
		font-size: 16px;
		color: $brand-primary-color;

		&:hover, &:focus {
			text-decoration: none;
			color: shade($brand-primary-color, 10%);
		}
	}

	&:hover, &:focus {
		
		& .course-tile {

			&__image {

				& img {
					@include transform(scale(1.05));
				}

				&:after {
					height: 6px;
				}
			}
		}
	}
}