.course-header {
	background-color: $course-header-bg-color;
	border-top: 4px solid $brand-primary-color;
	text-align: left;

	&__container {
		@include display(flex);
		@include align-items(center);
		@include flex-wrap(wrap);
		border-bottom: 4px solid $brand-primary-color;
		padding-top: 40px;
		padding-bottom: 40px;

		&:before, &:after {
			display: none;
		}
	}

	&__image {
		position: relative;

		& img {
			max-width: 100%;
			height: auto;
			display: block;
			border: 1px solid rgba(#000, 0.05);

		}

		&.has-video {
			cursor: pointer;
		}

		@media (max-width: $screen-xs-max) {
			margin-bottom: 25px;
		}

		&__video-indicator {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include display(flex);
			@include align-items(center);

			& i {
				width: 100%;
				font-size: 82px;
				text-align: center;
				color: #fff;
				opacity: 0.65;
				@include transition(all 0.3s ease-in-out);
			}
		}

		&:hover, &:focus {

			i {
				opacity: 1;
				text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__title {
		@include sans-serif-bold;
		font-size: 48px;
		margin: 0 0 20px;
		line-height: 130%;
		color: $course-header-title-color;
		text-align: left;

		@media(max-width:$screen-xs-max) {
			font-size: 32px;
		}
	}

	&__short-info {
		@include sans-serif;
		font-size: 20px;
	}
}

.course-body {
	padding: 40px 0 20px;
}

.course-information {

	&__group, section {
		margin-bottom: 30px;
		float: left;
    	width: 100%;
	}

	&__title, section h2 {
		@include sans-serif-bold;
		font-size: 24px;
		margin: 0 0 15px;
	}

	& p {
		text-align: justify;
		margin-top: 10px;
	}

	& ul {

		& li {
			padding: 5px 0;
		}
	}

	.teacher {
		display: block;
		padding: 8px 0;
		float: left;
		width: 100%;

		.teacher-image {
			float: left;
		    overflow: hidden;
		    border-radius: 100%;
		    width: 15%;
		    margin-right: 3%;

		    @media(max-width:$screen-xs-max) {
		    	width: 25%;
		    }

		    img {
		    	width: 100%;
		    	height: auto;
		    }

		}
		h3 {
			margin: 10px 0 5px;
			@include sans-serif-bold;
			font-size: 18px;
			color: $brand-primary-color;
			width: 82%;

			@media(max-width:$screen-xs-max) {
			   	width: 72%;
			}
		}

		p {
			width: 81%;

			@media(max-width:$screen-xs-max) {
		    	width: 72%;
		    }

		}
	}

	&__instructor {
		@include display(flex);
		@include align-items(center);
		padding: 8px 0;

		&__image {
			background-size: cover;
			background-position: center center;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			@include flex-shrink(0);
			margin-right: 20px;

			@media (max-width: $screen-xs-max) {
				width: 80px;
				height: 80px;
			}
		}

		&__name, h3 {
			margin: 10px 0 5px;
			@include sans-serif-bold;
			font-size: 18px;
			color: $brand-primary-color;
			width: 82%;
		}

		&__title {
			@include sans-serif;
			font-size: 12px;
			margin: -5px 0 5px;
			display: block;
			width: 82%
		}
	}

	.faq {

		h3 {
			margin: 20px 0 5px;
			@include sans-serif-bold;
			font-size: 18px;
		}
	}
}


.course-meta {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	margin-bottom: 20px;

	&__start-date {
		@include sans-serif-black;
		font-size: 18px;
		color: $brand-primary-color;
	}

	&__end-date {
		@include sans-serif-black;
		font-size: 14px;
		opacity: 0.6;
	}

	&__enroll-button, &__enroll-button:link, &__enroll-button:visited {
		color: #fff;
		@include button-positive($course-enroll-button-bg-color);

		&.unavailable {
			@include button-positive($course-enroll-button-bg-color-unavailable);
		}
		
		display: block;
		padding: 15px;
		font-size: 18px;
		@include sans-serif-bold;
		margin: 25px 20px;

		@media (max-width: $screen-sm-max) {
			margin: 10px 0;
		}

		&__container {
			border-top: 1px solid rgba($base-text-color, 0.2);
			border-bottom: 1px solid rgba($base-text-color, 0.2);
			margin: 25px 20px;

			@media (max-width: $screen-sm-max) {
				margin: 10px 0;
			}
		}
	}

	&__number {
		@include sans-serif-bold;
		font-size: 16px;
		opacity: 0.6;

		& span {
			@include sans-serif;
		}
	}

	&__share, &__share:link, &__share:visited {
		font-size: 22px;
		margin: 0 10px;
		color: rgba($base-text-color, 0.5);
		@include transition(all 0.3s ease-in-out);

		&:hover, &:focus {
			margin: 0 15px;
		}

		&.twitter:hover, &.twitter:focus {
			color: #00aced;
		}

		&.facebook:hover, &.facebook:focus {
			color: #3b5998;
		}

		&.email:hover, &.email:focus {
			color: #dd4b39;
		}
	}

	&__share__container {
		margin-top: 15px;
		padding: 15px 0;

		&:hover, &:focus {

			& .share-helper-text {
				opacity: 1;
			}
		}
	}

	& .share-helper-text {
		opacity: 14px;
		@include sans-serif;
		color: rgba($base-text-color, 0.5);
		display: block;
		width: 100%;
		@include transition(all 0.3s ease-in-out);
		opacity: 0;
		margin: 10px 0 0;
	}
}

.course-ribbon {
	position: absolute;
	left: 11px;
	top: -4px;
	z-index: 1;
	overflow: hidden;
	width: 75px; height: 75px;
	text-align: right;

		& span {
			font-size: 14px;
			@include sans-serif-bold;
			color: #fff;
			text-align: center;
			line-height: 20px;
			transform: rotate(-45deg);
			width: 100px;
			display: block;
			background-color: $brand-primary-color;
			box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
			position: absolute;
			top: 19px; left: -21px;
				
			&::before {
				content: "";
				position: absolute;
				left: 0px;
				top: 100%;
				z-index: -1;
				border-left: 3px solid darken($brand-primary-color, 15%);
				border-right: 3px solid transparent;
				border-bottom: 3px solid transparent;
				border-top: 3px solid darken($brand-primary-color, 15%);
			}

			&::after {
				content: "";
				position: absolute; right: 0px; top: 100%;
				z-index: -1;
				border-left: 3px solid transparent;
				border-right: 3px solid darken($brand-primary-color, 15%);
				border-bottom: 3px solid transparent;
				border-top: 3px solid darken($brand-primary-color, 15%);
			}
		}
}