.login-register {
	padding: 30px 15px;
	margin-bottom: 20px;
	@include sans-serif;
	min-width: 240px;

	& .form-type, & .toggle-form {
		min-width: 240px;
	}

	& .form-field {
		margin-bottom: 15px;

		& input, & select {
			border-radius: $form-input-border-radius;
			box-shadow: none;
			@include sans-serif;
			width: 100%;
			height: auto;
			padding: 10px 5px;
			font-size: 16px;
			@include transition(all 0.3s ease-in-out);
			border: none;
			border-bottom: 1px solid #ddd;
			position: relative;
			top: 0;

			&:focus {
				outline: none;
				border-bottom: 2px solid $brand-primary-color;
				margin-bottom: 13px;
			}

			&:hover {
				opacity: 0.5;
			}
		}

		& textarea {
			border-radius: $form-input-border-radius;
			box-shadow: none;
			@include sans-serif;
			width: 100%;
			height: auto;
			padding: 10px 5px;
			font-size: 16px;
			@include transition(all 0.3s ease-in-out);
			border: 1px solid #ddd;

			&:focus {
				outline: none;
				border: 2px solid $brand-primary-color;
				margin-bottom: 13px;
			}

			&:hover {
				opacity: 0.5;
			}
		}

		& label {
			display: block;
			@include sans-serif;
			font-size: 14px;
			margin-bottom: 5px;

			&.required {
				@include sans-serif-bold;
			}
		}

		& label[for="register-honor_code"], & label[for="login-remember"] {
			margin: 0;
		}

		& label[for="login-remember"] {
			position: relative;
			top: -5px;
		}
	}

	& .action-primary {
		@include button-positive($brand-primary-color);
		outline: none;
		border: none;
		font-size: 16px;
		padding: 10px;
		box-shadow: none;
		@include transition(all 0.3s ease-in-out);

		&:hover, &:focus {

		}
	}

	.nav-btn {
		padding: 10px;
		margin-top: 5px;
		height: auto;
		width: 80%;
		margin: 5px 10% 0;
		@include transition(all 0.3s ease-in-out);
		color: $brand-primary-color;
		border-color: $brand-primary-color;

		&:hover, &:focus {
			margin: 5px 0 0;
			width: 100%;
			color: $brand-primary-color;
			background: transparent;
			box-shadow: none;
			border: 1px solid $brand-primary-color;
		}
	}
}