$brand-primary-color: #0090c1;
$navbar-style: "white";  // brand or white
$base-text-color: #666;

$header-bg-color: calcNavbarBg($navbar-style, $brand-primary-color);
$header-logo-height: 6rem;
$header-padding-top: 1.5rem;
$header-padding-bottom: $header-padding-top;
$header-padding-xs-top: 1.5rem;
$header-padding-xs-bottom: 1.5rem;
$header-group-separation: 4rem;
$header-font-size: 1.6rem;
$header-text-color: calcNavbarTextColor($navbar-style, $base-text-color);
$navbar-button-border: calcNavbarButtonBorder($navbar-style);
$navbar-button-bg: calcNavbarButtonBg($navbar-style, $brand-primary-color);
$navbar-anchor-underline-color: calcNavbarUnderlineColor($navbar-style, $brand-primary-color);

$display-navbar-logo-positive: calcDisplayLogoPositive($navbar-style);
$display-navbar-logo-negative: calcDisplayLogoNegative($navbar-style);

$nav-toggle-bar-width: 3.6rem;
$nav-toggle-bar-height: 0.4rem;
$nav-toggle-bar-radius: 0.4rem;
$nav-toggle-bar-margin: 2rem;
$nav-toggle-bar-color: $header-text-color;
$nav-toggle-bar-separation: 1rem;
$nav-toggle-bar-pulsar-color: $brand-primary-color;

$slideout-menu-text-color: #fff;
$slideout-menu-background-color: $brand-primary-color;
$slideout-menu-text-size: 1.6rem;
$slideout-menu-item-padding: 1.4rem;

$base-letter-spacing: 0;

$buttons-border-radius: 4rem;


$footer-padding-top: 4rem;
$footer-padding-bottom: 1.5*$footer-padding-top;
$footer-bg-color: #eee;
$footer-top-border: none;
$footer-text-color: lighten($base-text-color, 15%);
$footer-link-color: $footer-text-color;
$footer-link-hover-color: lighten($footer-text-color, 15%);
$footer-link-breathe-space: 1.5rem;
$footer-logo-breathe-space: 3rem;
$footer-logo-padding-vertical: 1rem;
$footer-logo-width: 4rem;
$footer-logo-opacity: 0.5;
$footer-copyright-text-size: 1.2rem;
$footer-copyright-text-color: lighten($footer-text-color, 15%);
$footer-copyright-breathe-space: 1rem;
