@mixin button-positive($bg-color) {
	cursor: pointer;
	@include sans-serif;
	background-image: none;
	outline: none;
	text-shadow: none;
	border-radius: $form-button-border-radius;
	background-color: $bg-color;
	padding: 15px 25px;
	color: #fff;
	text-decoration: none;
	display: inline-block;	
	@include transition(all 0.3s ease-in-out);
	line-height: inherit;
	border: none;
	box-shadow: none;

	&:hover, &:focus, &:hover:not(:disabled) {
		background-image: none;
		text-shadow: none;
		border-radius: $form-button-border-radius;
		outline: none;
		border: none;
		background-color: shade($bg-color, 10%);
		color: #fff;
		text-decoration: none;
	}

	&:link {
		color: #fff;
	}
}

@mixin button-negative {
	cursor: pointer;
	@include sans-serif;
	background: none;
	background-image: none;
	outline: none;
	text-shadow: none;
	border-radius: $form-button-border-radius;
	border: 2px solid #fff;
	padding: 15px 25px;
	text-decoration: none;
	color: #fff;
	display: inline-block;	
	@include transition(all 0.3s ease-in-out);
	line-height: inherit;

	&:hover, &:focus, &:hover:not(:disabled) {
		background-image: none;
		outline: none;
		text-shadow: none;
		border-radius: $form-button-border-radius;
		outline: none;
		opacity: 0.7;
		text-decoration: none;
		color: #fff;
	}
}

@mixin expanding-button($padding-start, $padding-hover) {
	padding-left: $padding-start;
	padding-right: $padding-start;

	&:hover, &:focus {
		padding-left: $padding-start + $padding-hover;
		padding-right: $padding-start + $padding-hover;
	}
}