.form {

	& a, & a:link {
		color: $brand-primary-color;

		&:hover, &:focus {
			opacity: 0.7;
		}
	}

	&__label, label {
		display: block;
		@include sans-serif;
		font-size: 14px;
		margin-bottom: 5px;

		&.required {
			@include sans-serif-bold;
		}
	}

	&__instructions {
		font-size: 16px;
		margin: 0 0 20px;
		line-height: 140%;
	}

	&__input {
		border-radius: $form-input-border-radius;
		box-shadow: none;
		@include sans-serif;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 15px;
		@include transition(all 0.3s ease-in-out);
		border: 1px solid #ddd;

		&:focus {
			outline: none;
			border: 2px solid $brand-primary-color;
			margin-bottom: 13px;
		}

		&:hover {
			opacity: 0.5;
		}
	}

	&__input__action, &__input__action:link {
		float: left;
		margin-bottom: 20px;
		color: $brand-primary-color;

		&:hover, &:focus {
			opacity: 0.7;
		}
	}

	&__input-clarification {
		display: block;
		margin-top: -10px;
		margin-bottom: 15px;
		font-size: 12px;
	}

	&__textarea {
		padding: 10px;
		width: 100%;
		height: 64px;
		margin-bottom: 15px;
		@include transition(all 0.3s ease-in-out);

		&:focus {
			outline: none;
			border: 2px solid $brand-primary-color;
		}

		&:hover {
			opacity: 0.5;
		}
	}

	&__checkbox {
		float: left;
		margin-right: 10px;
		display: inline-block;
		clear: left;
	}

	&__checkbox-label {
		float: left;
		display: inline-block;
		margin-left: 8px;
		@include sans-serif;
		font-size: 14px;

		& a {
			@include sans-serif-bold;
			font-size: 14px;
			color: $brand-primary-color;

			&:hover, &:focus {
				opacity: 0.7;
			}
		}
	}

	&__button {
		@include button-positive($brand-primary-color);
		@include expanding-button(40px, 15px);
		outline: none;
		border: none;
		font-size: 16px;
	}

	&__group {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	&__status-message {
		margin: 30px 0;
		display: none;
		padding: 20px 0;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;

		&__title {
			@include sans-serif-bold;
			font-size: 18px;
			margin: 0;
		}

		&__text, &__text.ul li {
			margin: 10px 0 0;
			@include sans-serif-italic;
			font-size: 16px;
		}

		&__text.ul {

		}

		&.form-alert {

			& h3 {
				color: $alert-color;
			}
		}

		&.form-error {

			& h3 {
				color: $error-color;
			}
		}

		&.is-shown {
			display: block;
		}
	}
}

.form-group {

	&>textarea, &>input[type="text"], &>input[type="email"], &>input[type="password"], &>input[type="tel"] {
		border-radius: $form-input-border-radius;
		box-shadow: none;
		@include sans-serif;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 15px;
		@include transition(all 0.3s ease-in-out);
		height: auto;

		&:focus {
			outline: none;
			border: 2px solid $brand-primary-color;
			box-shadow: none;
		}

		&:hover {
			opacity: 0.5;
			box-shadow: none;
		}
	}
}

textarea, input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
	&.form-input {
		border-radius: $form-input-border-radius;
		box-shadow: none;
		@include sans-serif;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 15px;
		@include transition(all 0.3s ease-in-out);

		&:focus {
			outline: none;
			border: 2px solid $brand-primary-color;
			margin-bottom: 13px;
		}

		&:hover {
			opacity: 0.5;
		}
	}
}