@function calcNavbarBg ($navbar-style, $brand-primary-color) {
	@if $navbar-style == "white" {
		$navbar-bg-color: #fff;
		@return $navbar-bg-color;
	} @else {
		@return $brand-primary-color;
	}
}

@function calcNavbarTextColor ($navbar-style, $base-text-color) {
	@if $navbar-style == "white" {
		@return $base-text-color;
	} @else {
		$navbar-text-color: #fff;
		@return $navbar-text-color;
	}
}

@function calcNavbarButtonBorder ($navbar-style) {
	@if $navbar-style == "white" {
		$navbar-button-border: none;
		@return $navbar-button-border;
	} @else {
		$navbar-button-border: 2px solid #fff;
		@return $navbar-button-border;
	}
}

@function calcNavbarButtonBg ($navbar-style, $brand-primary-color) {
	@if $navbar-style == "white" {
		@return $brand-primary-color;
	} @else {
	    $navbar-button-bg: $brand-primary-color;
		@return $navbar-button-bg;
	}
}

@function calcDisplayLogoPositive($navbar-style) {
	@if $navbar-style == "white" {
		$display-navbar-logo-positive: inline-block;
		@return $display-navbar-logo-positive;
	} @else {
	    $display-navbar-logo-positive: none;
		@return $display-navbar-logo-positive;
	}
}

@function calcDisplayLogoNegative($navbar-style) {
	@if $navbar-style == "white" {
		$display-navbar-logo-negative: none;
		@return $display-navbar-logo-negative;
	} @else {
	    $display-navbar-logo-negative: inline-block;
		@return $display-navbar-logo-negative;
	}
}