@mixin underline($weight) {
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    @include transition(all 0.3s ease-in-out);
    height: $weight;
    content: "";
    @include linear-gradient(to right, $brand-blue-light, $brand-blue-dark, $fallback: $brand-blue-dark);
  }
}

@mixin underline_hover($offset){

  &:hover {
    &:after {
      bottom: -$offset;
    }
  }
}


@mixin button_splash($button-radius) {
  position: relative;

  &:before {
    position: absolute;
    border-radius: $button-radius;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: rgba(#fff, 0.35);
    content: "";
    @include transition(all 0.15s ease-in-out);
  }

  &:hover, &:focus {

    &:before {
      width: 100%;
      background-color: rgba(#fff, 0.1);
    }
  }
}

@mixin button_radius {
  border-radius: $buttons-border-radius;
}

@mixin underline_expanding_hover {
  position: relative;

  &:after {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    border-radius: 0.05rem;
    background-color: $header-text-color;
    content: "";
    @include transition(0.2s all ease-in-out);
  }

  &:hover, &:focus {

    &:after {
      width: 100%;
    }
  }
}

@mixin edx_style_killer {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  padding: 0;
  vertical-align: inherit;
  text-shadow: none;
  letter-spacing: 0;

  &:hover, &:focus, &:hover:not(:disabled), &:focus:not(:disabled) {
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
}

@mixin no_damn_focus_glow {

  &:hover, &:focus {
    outline: none !important;
  }
}

@mixin responsive_square_div {

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
